.title-wrapper  {
  height: 260px;
  display: flex;
  align-items: center;
}

.profile-pic__wrapper {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px lightgrey;
}

.profile-pic {
  max-width: 100%;
  max-height: 100%;
}
