.title-wrapper  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  height: 70px;
}

.title__link {
  width: 100%;
  display: block;
}


@media only screen and (min-width: 750px) {
  .title-wrapper  {
    height: 260px;
    margin-top: 10%;
  }
}

.profile-pic__super-wrapper {
  display: flex;
  justify-content: center;
}

.profile-pic__wrapper {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 3px 3px lightgrey;
}

.profile-pic {
  max-width: 100%;
  max-height: 100%;
}

.description {
  margin-top: 50px;
}

.toolbelt-list {
  list-style: none;
}

.toolbelt-list__second-level {
  display: flex;
  list-style: none;
}

.toolbelt-list__second-level-item {
  padding: 5px;
}

.toolbelt-list__icon {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 750px) {
  .profile-pic__super-wrapper {
    display: block;
  }
}
