@font-face {
    font-family: 'Arimo';
    src: url('/hinted-Arimo-Regular.eot');
    src: url('/hinted-Arimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('/hinted-Arimo-Regular.woff2') format('woff2'),
        url('/hinted-Arimo-Regular.woff') format('woff'),
        url('/hinted-Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

