@import "css-init";

* { 
  @include typeset(text);
  font-family: 'Arial'; // TODO: Remove Arial and apply a better font.
}

h1 {
  @include typeset(super-title-small);
  
  @include breakpoint($desktop) {
    @include typeset(super-title);    
    // font-family: $legue-spartan !important;
  }
}

p {
  @include typeset(text);
}

a {
  @include typeset(text);
  // @include typeface(text);
  color:color('color-text');
  transition: .2s ease-out;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    left:0;
    width: 25px;
    background-color: color('secondary');
  }

  &:hover {
    color: color('secondary');
  }
}