@import "css-init";


h1 {
  @include typeset(super-title);
}

p {
  @include typeset(text);
}

a {
  color:color('color-text');
  transition: .2s ease-out;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0px;
    height: 2px;
    left:0;
    width: 25px;
    background-color: color('secondary');
  }

  &:hover {
    color: color('secondary');
  }
}