@font-face {
    font-family: 'Cooper Hewitt Book';
    src: url('./cooper-hew/hinted-CooperHewitt-Book.eot');
    src: url('./cooper-hew/hinted-CooperHewitt-Book.eot?#iefix') format('embedded-opentype'),
        url('./cooper-hew/hinted-CooperHewitt-Book.woff2') format('woff2'),
        url('./cooper-hew/hinted-CooperHewitt-Book.woff') format('woff'),
        url('./cooper-hew/hinted-CooperHewitt-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('./cooper-hew/hinted-CooperHewitt-Bold.eot');
    src: url('./cooper-hew/hinted-CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'),
        url('./cooper-hew/hinted-CooperHewitt-Bold.woff2') format('woff2'),
        url('./cooper-hew/hinted-CooperHewitt-Bold.woff') format('woff'),
        url('./cooper-hew/hinted-CooperHewitt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('./cooper-hew/hinted-CooperHewitt-Medium.eot');
    src: url('./cooper-hew/hinted-CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
        url('./cooper-hew/hinted-CooperHewitt-Medium.woff2') format('woff2'),
        url('./cooper-hew/hinted-CooperHewitt-Medium.woff') format('woff'),
        url('./cooper-hew/hinted-CooperHewitt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

