.layout-standard-page {
  width: 100%;
  height: 100%;
  display: flex;

  &__content {
    margin: auto;
    display: inline-block;
    max-width: 660px;
    width: 660px;
  }

  &__content-body {
    max-width: 400px;
  }
}