@import "css-init";

* {
  box-sizing: content-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.layout-base {
  display: flex;

  &__content  {
    width: 60%;
    display: flex;
  }
}