@import "css-init";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.layout-base {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    flex-wrap: nowrap;
  }

  &__content  {
    @include padding-left($padding-mobile);
    @include padding-right($padding-mobile);
    @include padding-bottom(30px);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    @include breakpoint($desktop) {
      width: 60%;
    }
  }
}