@import "css-init";

.navigation-bar {
  @include margin-bottom(1);
  display: none;
  color: color("color-text-reverse"); 
  text-align: center;
  width: 100%;

  @include breakpoint($desktop) {
    text-align: right;
    display: block;
  }

  &__wrapper {
    display: flex;
  }

  &__header {
    @include padding-right(1);
    display: flex;
    justify-content: flex-end;
    margin: auto;
  }

  &__burger-wrapper {
    display: flex;
    background-color: color('black');
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;

    @include breakpoint($desktop) {
      display: none;
    }
  }

  &__burger {
    margin: auto;
  }

  &__item-wrapper {
    display: block;
    margin-top: 10px;

    @include breakpoint($desktop) {
    }
  }

  &__item {
    @include typeface(arimo);
    @include typeset(hightlighted-text);
    @include margin-top(0.5);
    color:color('color-text-reverse');
    text-decoration: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: 2px;
      background-color: color('red');
      bottom: -2px;
      right: 0;
      width: 0;
      height: 2px;
      transition: .2s ease-out;
    }

    &:hover,
    &--active {
      color:color('color-text-reverse');
      
      &::before {
        width: 100%;
      }
    }

    
  }

  &--open {
    display: block;
  }
}
