@import 'css-init';

.personal-info {

  &__text{
    @include margin-top(1);
    @include margin-bottom(1);
  }

  &__item {
    display: block;
    @include typeset(hightlighted-text);
    color: color("color-text-reverse"); 

    &--name {
      @include typeset(hightlighted-title);
    }
  }

  &__description-line {
    display: block;
  }
}