@import "css-init";

.header {
  @include padding-left($padding-mobile);
  @include padding-right($padding-mobile);
  background-color: color("primary");
  color: color("color-text-reverse");
  width: 100%;  
  display: flex;

  
  @include breakpoint($desktop) {
    @include padding-right(2);
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }

  &__contents-wrapper {
    @include margin-top(10px);
    @include margin-bottom(10px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__personal-info {
    flex-grow: 2;

    @include breakpoint($desktop) {
      width: 100%;
    }
  }
}
