@font-face {
    font-family: 'League Spartan';
    src: url('/hinted-LeagueSpartan-Bold.eot');
    src: url('/hinted-LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('/hinted-LeagueSpartan-Bold.woff2') format('woff2'),
        url('/hinted-LeagueSpartan-Bold.woff') format('woff'),
        url('/hinted-LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

