@import "normalize-scss";
@import "chroma";
@import "chroma/functions";

// Define the default color scheme.
$chroma: define-default-color-scheme("dpliakos-default");

// Add colors to the default color scheme.
$chroma: add-colors(
  (
    // color pallete
    "white": #fff,
    "black": #000,
    "blue": #242424,
    "red": #c00,
    "grey": #777,
    
    // color-scheme colors
    primary: "black",
    secondary: "red",
    tertiary: "grey",
    color-text: "primary",
    color-text-reverse: "white"
  )
);
