@import "typey";
@import "./../../../fonts/arimo/font-face-arimo";
@import "./../../../fonts/cooper-hew/font-face-cooper-hewitt";
@import "./../../../fonts/legue-spartan/font-face-legue-spartan";

$base-unit: rem;
$base-font-size: 16px;
$base-line-height: 24px;
$base-line-height-ratio: 1.5;
$print-font-size: 12pt;

$font-size: (
  xxl: 75px,
  xl: 32px,
  l: 24px,
  m: 20px,
  s: 12px,
);

html {
  @include define-type-sizing;
}

$helvetica: Helvetica, sans-serif;
$garamond: Garamond, serif;
$monaco: Monaco, monospace, monospace;
$arimo: "Arimo";
$legue-spartan: "League Spartan";
$cooper-hewitt-book: "Cooper Hewitt Book";

$typestyles: (
  super-title: (
    font-size: xxl,
    font-family: $legue-spartan,
  ),
  hightlighted-title: (
    font-size: xl,
    font-family: $arimo,
  ),
  hightlighted-text: (
    font-size: m,
    font-family: $arimo,
  ),
  text: (
    font-size: m,
    line-height: 30px,
    font-family: $cooper-hewitt-book,
  ),
  text-small: (
    font-size: s,
    line-height: 15px,
    font-family: $cooper-hewitt-book,
  ),
  text-small-highlighted: (
    font-size: 18px,
    font-family: $cooper-hewitt-book,
  ),
);


$typefaces: (
  legue-spartan: (
    font-family: $legue-spartan,
  ),
  hightlighted-title: (
    font-size: xl,
    font-family: $arimo,
  ),
  hightlighted-text: (
    font-size: m,
    font-family: $arimo,
  ),
  text: (
    font-size: m,
    font-family: $cooper-hewitt-book,
  ),
  text-small: (
    font-size: s,
    font-family: $cooper-hewitt-book,
  ),
  text-small-highlighted: (
    font-size: 15px,
    font-family: $cooper-hewitt-book,
  ),
);

$typey-debug: false;
$typey-debug-color: red;

// note: leave it here for reference.
// $typefaces: (
//   sans-serif: (
//     font-family: $helvetica,
//     letter-spacing: -.5px,
//   ),
//   serif: $garamond,
//   monospace: (
//     font-family: $monaco,
//     letter-spacing: .5px,
//     weight: bold,
//     style: normal,
//     case: uppercase,
//   )
// );
